<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2fd9c32b-6c2f-4201-9172-44d20daa8733/resourceGroups/shop-dev/providers/Microsoft.Web/sites/shopping-managment</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shopping-managment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8bfa7eab-da6d-418e-bf7d-d7c5007fa62a</ProjectGuid>
    <PublishUrl>https://shopping-managment.scm.azurewebsites.net/</PublishUrl>
    <UserName>$shopping-managment</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>